.page-item {
    &__image {
        position: relative;
        width: 90%;
        height: 0;
        padding-bottom: 52%;
        margin-bottom: 40px;
        overflow: hidden;

        &:before {
            content: ' ';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: transparent url(/assets/img/energise-website-background.png) no-repeat center center;
            background-size: cover;
            opacity: 0.2;
        }

        img {
            position: absolute;
            width: 100%;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        }

        @media all and (max-width: 500px) {
            width: 100%;
        }
    }

    &__header {
        padding-bottom: 1em;
        @include type-family-domaine-display;
    }

    &__body {
        margin-bottom: 40px;
    }
}

.page-item--purple {
    .page-item__image {
        background: $color-purple;
    }

    .page-item__header {
        color: $color-purple;
    }
}

.page-item--green {
    .page-item__image {
        background: $color-green;
    }

    .page-item__header {
        color: $color-green;
    }
}