.page-section {
    padding-bottom: 1em;
    margin-bottom: 3em;
    border-bottom: 1px solid rgb(190, 190, 190);

    &__title,
    &__intro {
        padding-bottom: 3em;
        @include type-family-domaine-display;
    }
}

.page-section--purple {
    .page-section__title,
    .page-section__intro,
    a {
        color: $color-purple;
    }
}

.page-section--green {
    .page-section__title,
    .page-section__intro,
    a {
        color: $color-green;
    }
}